# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
worker_processes auto;
{% if nginx_raise_ulimit %}
worker_rlimit_nofile 1048576;
{% endif %}

http {
    access_log off;
    upstream backend_servers {
        {% for host, port in upstreams %}
        server {{ host }}:{{ port }};
        {% endfor %}
        keepalive 16384;
    }

    server {
        listen {{ listen_port | default(8000) }};
        keepalive_requests 100000;
        keepalive_timeout 75s;

        location / {
            proxy_pass http://backend_servers;

            proxy_http_version 1.1;
            proxy_set_header Connection "";
            proxy_request_buffering off;
            proxy_buffering off;
            proxy_read_timeout 24h;
            proxy_send_timeout 24h;
        }
    }
}

events {
    worker_connections 65535;
    multi_accept on;
    use epoll;
}
